<!doctype html>
<html ng-app="nbaLineupApp">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.13.1/select.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.13.1/select.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.13.4.min.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body ng-controller="teamController">
    <h1 align="center">Lineup Explorer</h1>
    <div class="container-fluid" >
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
          <label>Team 1:</label>
          <ui-select ng-model="teamOne.selected" theme="bootstrap" reset-search-input="true">
              <ui-select-match placeholder="Team 1 Name">{{$select.selected.teamName}}</ui-select-match>
              <ui-select-choices repeat="teamOne in searchTeams" refresh="refreshTeams($select.search)" refresh-delay="0">
                <div ng-bind-html="teamOne.teamName | highlight: $select.search"></div>
              </ui-select-choices>
          </ui-select>
        </div>
        <div class="col-sm-5">
          <label>Team 2:</label>
           <ui-select ng-model="teamTwo.selected" theme="bootstrap" reset-search-input="true">
              <ui-select-match placeholder="Team 2 Name">{{$select.selected.teamName}}</ui-select-match>
              <ui-select-choices repeat="teamTwo in searchTeams" refresh="refreshTeams($select.search)" refresh-delay="0">
                <div ng-bind-html="teamTwo.teamName | highlight: $select.search"></div>
              </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row top-buffer">
        <div class="col-sm-3 col-sm-offset-3">
          <div ng-repeat="season in seasons">
              <label align="right" class="custom-vertical visible-md-block visible-lg-block"><input type="radio" ng-model="selectedSeason" value="{{season}}"/> {{season}}</label>
              <label align="center" class="visible-xs-block visible-sm-block"><input type="radio" ng-model="selectedSeason" value="{{season}}"/> {{season}}</label>
          </div>
        </div>
        <div class="col-sm-3">
          <div ng-repeat="seasonType in seasonTypes">
              <label class="custom-vertical visible-md-block visible-lg-block"><input type="radio" ng-model="selectedSeasonType" value="{{seasonType}}"> {{seasonType}}</label>
              <label align="center" class="visible-xs-block visible-sm-block"><input type="radio" ng-model="selectedSeasonType" value="{{seasonType}}"> {{seasonType}}</label>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" ng-controller="lineupController">
      <div class="row top-buffer">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">Lineups</div>
            <div class="panel-body">
             Most Played
             <div class="row" ng-repeat="lineup in teamOneLineups">
              <div class="panel panel-default">
                <label>
                <input type="radio" ng-model="selectedLineups.teamOne" ng-value="lineup"/>
                </label>
                <div class="row">
                  <div class="col-sm-4" ng-repeat="player in lineup track by $index">
                  <ui-select ng-model="lineup[$index]" theme="bootstrap" reset-search-input="true">
                    <ui-select-match placeholder="Player">{{$select.selected.PLAYER_NAME}}</ui-select-match>
                    <ui-select-choices repeat="teamPlayer in availableRoster(0,lineup)" refresh="" refresh-delay="0">
                      <div ng-bind-html="teamPlayer.PLAYER_NAME | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>
                </div>

              </div>
             </div>

            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">Lineups</div>
            <div class="panel-body">
             Most Played
             <div class="row" ng-repeat="lineup in teamTwoLineups">
              <div class="panel panel-default">
                <label>
                <input type="radio" ng-model="selectedLineups.teamTwo" ng-value="lineup"/>
                </label>
                <div class="row">
                  <div class="col-sm-4" ng-repeat="player in lineup track by $index">
                  <ui-select ng-model="lineup[$index]" theme="bootstrap" reset-search-input="true">
                    <ui-select-match placeholder="Player">{{$select.selected.PLAYER_NAME}}</ui-select-match>
                    <ui-select-choices repeat="teamPlayer in availableRoster(1,lineup)" refresh="" refresh-delay="0">
                      <div ng-bind-html="teamPlayer.PLAYER_NAME | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>
                </div>

              </div>
             </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row top-buffer">
        <div class="col-sm-12" align="center">
           <button type="button" class="btn btn-default" ng-click="explore()" >Explore Lineup Data</button>
        </div>
      </div>
      <div class="row top-buffer">
        <div class="col-sm-6 col-sm-offset-3">
          
      <div class="container-fluid" ng-repeat="gameID in gameIDs track by $index" ng-if="relevantPlays[gameID].length">
        <div class="row" >
          
          {{boxScores[gameID].VISITOR_TEAM_ABBREV}} @ {{boxScores[gameID].HOME_TEAM_ABBREV}}, {{boxScores[gameID].DATE}}, {{relevantPlays[gameID] | timePlayed}} played
        </div>
      </div>
    </div>
  
  </body>
    <footer align="center">
    <p>Posted by: Pranav Badami</p>
    <p>Contact information: <a href="pranavbadami@gmail.com">
    pranavbadami@gmail.com</a>.</p>
  </footer>
</html>
